img {
    height: 300px;
    margin: 0 auto;
    width: 40%;
   display: flex;
   flex-direction: row
}

h1 {
    font-size: 34px;
    margin: 0 auto;
    width: 70%;
    display: block;
    text-align: center;
}